# Server
PORT=3001
FRONTEND_URL=http://localhost:5173

# Resend Configuration
RESEND_API_KEY=re_VotReClEApiIci
# Email expéditeur
EMAIL_FROM="Soirées Ici" <noreply@soirees-ici.be>

# Adresses admin (séparées par des virgules)
ADMIN_EMAILS=admin1@soirees-ici.be,admin2@soirees-ici.be

# Stripe Configuration
STRIPE_SECRET_KEY=sk_test_...
STRIPE_WEBHOOK_SECRET=whsec_...
